.navbar-default .navbar-nav > li > a{
    cursor: pointer;
    &.selected{
        color: black !important;;
    }
}

.dropdown{
    >a.dropdown-toggle , >ul.dropdown-menu li a{
        cursor: pointer;
    }
     
}